<h2><%= pluralize(@search_results.count, "book") %> found!</h2>

<table class="table table-hover">
  <tr>
    <th>Title</th>
    <th>Author</th>
  </tr>
  
  <% unless @search_results.empty? %>
    <% @search_results.each  do |b| %>
      <tr>
        <td><%= b.title %></td>
        <td><%= b.author.name %></td>
      </tr>
    <% end %>
  <% end %>
 
</table>
				
